{% extends 'layout/frontend' %}

{% block stylesheets %}

	<link rel="stylesheet" type="text/css" href="{{ asset_url('css_app') }}" />

	{{ parent() }}

{% endblock stylesheets %}

{% block header %}

	{{ parent() }}

	<nav id="nav-main">

		{% block nav_main %}

			{{ list( app['app.navigation'] ) }}

		{% endblock nav_main %}

	</nav>

{% endblock header %}