{% extends 'layout/panel' %}

{% block panel_header %}

	<h1>About</h1>

{% endblock panel_header %}

{% block panel_content %}

	<p>This about page only exists to demonstrate how to create static pages.</p>

{% endblock panel_content %}