{% extends 'layout/panel' %}

{% block panel_header %}

	<h1>Congratulations, {{ app.name }} is installed!</h1>

{% endblock panel_header %}

{% block panel_content %}

	<p>This is the home page. You can customise this page by editing <code>app/Template/view/home.twig</code>.</p>

	{% if not is_granted('ROLE_ADMIN') %}
	<p>Then you can <a href="{{ url('app', {node: 'login'}) }}">login</a> and add some pages in the CMS.</p>
	{% endif %}

{% endblock panel_content %}